<div class="body">
  <div class="form-logo">
      <a href="#">
          <img src="/assets/logo-default.png" alt="">
      </a>
  </div>
    <div class="login-form">
    <h2 class="top-hd">Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
      <div class="form-group ">
          <%= f.email_field :email, autofocus: true , class: "form-control", placeholder: "Email Address"%>
          <span><img src="/assets/envelop.png"></span>
     </div>
      <div class="form-group">
        <%# if @minimum_password_length %>
        <!-- <em>(<%#= @minimum_password_length %> characters minimum)</em> -->
        <%# end %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Enter Address" %>
        <span><img src="/assets/lock.png"></span>
      </div>
       <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Enter Address" %>
         <span><img src="/assets/check.png"></span>
      </div>
      <div class="form-group">
         <%= f.check_box :remember_me  %>
         <span class="check-span">I agree to the <a href="" data-bind="click: terms">Terms of Service</a> and <a href="" data-bind="click: privacy">Privacy Policy</a></span>
      </div><br/>

       <div class="btn-group">
        <%= link_to 'Back',user_session_path, class: "back-btn"%>
        <%= f.submit "Submit", class: "sub-btn"%>
      </div> 
    <% end %>

    <div class="form-footer signup-footer">
      2014/15 © SpeedETab.
    </div>
    </div>
<%#= render "devise/shared/links" %>
