<div class="body">
  <div class="form-logo">
    <a href="#">
        <img src="/assets/logo-default.png" alt="">
    </a>
</div>
  <div class="login-form">
  <h2 class="top-hd">Forgot your password?</h2>
 <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
    <div class="form-group ">
   		 <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Enter password" %>
        <span><img src="/assets/envelop.png"></span>
   </div>
   <div class="btn-group">
   		<%= link_to 'Back',user_session_path, class: "back-btn"%>
   		<%= f.submit "Submit", class: "sub-btn"%>
    </div> 
    
    <div class="btn-group">
    	
        <%#= f.submit "Send me reset password instructions" %>
    </div> 
  <% end %>
 
  <%#= render "devise/shared/links" %>

  <div class="form-footer forgot-pass">
    2014/15 © SpeedETab.
  </div>
  </div>




